---
http_interactions:
- request:
    method: get
    uri: https://www.potterapi.com/v1/characters?key=<POTTER_API_KEY>&orderOfThePhoenix=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2c0b-3S8byEdmtAZ5w0v45qXb/gVaJMg"
    body:
      encoding: ASCII-8BIT
      string: '[{"_id":"5a0fa7dcae5bc100213c2338","name":"Sirius Black","house":"Gryffindor","school":"Hogwarts
        School of Witchcraft and Wizardry","alias":"Padfoot","animagus":"black dog","__v":0,"ministryOfMagic":false,"orderOfThePhoenix":true,"dumbledoresArmy":false,"deathEater":false,"bloodStatus":"pure-blood","species":"human"},{"_id":"5a0fa842ae5bc100213c2339","name":"Amelia
        Bones","role":"Head, Department of Magical Law Enforcement","house":"Hufflepuff","school":"Hogwarts
        School of Witchcraft and Wizardry","__v":0,"ministryOfMagic":true,"orderOfThePhoenix":true,"dumbledoresArmy":false,"deathEater":false,"bloodStatus":"unknown","species":"human"},{"_id":"5a1095693dc2080021cd875b","name":"Fleur
        Delacour","role":"Student","school":"Beauxbatons Academy of Magic","wand":"Rosewood,
        9 1/2\", veela hair","__v":0,"ministryOfMagic":false,"orderOfThePhoenix":true,"dumbledoresArmy":false,"deathEater":false,"bloodStatus":"quarter-villa","species":"part-human"},{"_id":"5a1095af3dc2080021cd875d","name":"Dedalus
        Diggle","__v":0,"ministryOfMagic":false,"orderOfThePhoenix":true,"dumbledoresArmy":false,"deathEater":false,"bloodStatus":"unknown","species":"human"},{"_id":"5a10964d3dc2080021cd8760","name":"Elphias
        Doge","role":"Special Advisor to the Wizengamot","school":"Hogwarts School
        of Witchcraft and Wizardry","__v":0,"ministryOfMagic":false,"orderOfThePhoenix":true,"dumbledoresArmy":false,"deathEater":false,"bloodStatus":"pure-blood","species":"human"},{"_id":"5a1096b33dc2080021cd8762","name":"Aberforth
        Dumbledore","role":"Owner, Hog''s Head Inn","house":"Gryffindor","school":"Hogwarts
        School of Witchcraft and Wizardry","alias":"Ab","patronus":"goat","__v":0,"ministryOfMagic":false,"orderOfThePhoenix":true,"dumbledoresArmy":false,"deathEater":false,"bloodStatus":"half-blood","species":"human"},{"_id":"5a1097653dc2080021cd8763","name":"Albus
        Dumbledore","role":"Headmaster, Hogwarts","house":"Gryffindor","school":"Hogwarts
        School of Witchcraft and Wizardry","wand":"Elder, 15\", thestral tail hair","boggart":"Ariana
        (sister)","patronus":"phoenix","__v":0,"ministryOfMagic":true,"orderOfThePhoenix":true,"dumbledoresArmy":false,"deathEater":false,"bloodStatus":"half-blood","species":"human"},{"_id":"5a10982c3dc2080021cd876b","name":"Arabella
        Figg","role":"Dealer of cross-bread cats and kneazies","__v":0,"ministryOfMagic":false,"orderOfThePhoenix":true,"dumbledoresArmy":false,"deathEater":false,"bloodStatus":"squib","species":"human"},{"_id":"5a1099893dc2080021cd8771","name":"Mundungus
 [...]
